section.frase-efeito{
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: center;
    background-color: var(--cor-azul);
    gap: 3rem;
    height: 25%;
    
}

.frase-efeito{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    min-height: 650px;
    text-align: center;
}

section.frase-efeito h3{
   font-size: 3rem; 
   font-family: 'titulo';
   color: var(--cor-amarelo);
   max-width: 760px;
   padding: 6px 12px 6px 12px;
}


section.frase-efeito a{
        text-decoration: none;
        background-color: var(--cor-amarelo);
        color: var(--cor-branco);
        font-size: 1rem;
        padding: 10px;
        border-radius: 50px;
    }

    section.frase-efeito a:hover{
            background-color: #C1863885;
            color: #fff;
    }

    
@media screen and (max-width: 1000px){

     .frase-efeito{
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        align-items: center;
        min-height: 225px;
        text-align: center;
    }
    
    section.frase-efeito h3{
       font-size: 1.1rem; 
       max-width: 760px;
       padding: 9px 10px;

    }
    
    
    section.frase-efeito a{
            font-size: .5rem;
            padding: 10px;
            border-radius: 50px;
        }
}